<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>

      <add key="ApiBaseUri"                       value="https://api.pepperi.com/v1.0/"/>
      <add key="OauthBaseUri"                     value="https://api.pepperi.com/v1.0/"/>
      <add key="ApiTokenBaseUri"                  value="https://api.pepperi.com/v1.0/"/>

      <add key="PublicApplication_ConsumerKey"    value="aMyIEPk8vNQSKRrR6dRv8a1ieL8gbZ2w"/>
      <add key="PublicApplication_ConsumerSecret" value="zRqVJ7jGGSJ4yFXE"/>
      <add key="PrivateApplication_ConsumerKey"   value="SlIqZBGqSokbyPEblUGF3vs0gEI1INoI"/>
      
    </appSettings>
</configuration>
